body {
    font-family: "Noto Serif JP", serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #f9f4ef;
    color: #333;
}

header {
    /*background-color: #d94e5d;  벚꽃 다홍색 */
    background-image: url("../img/naruto/Konohagakure_no_Sato.jpg");
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #aa2c34; /* 다홍색의 더 진한 색 */
}

nav {
    background-color: #a23e48; /* 짙은 다홍색 */
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #882634;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
    margin: 20px auto;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #e1e1e1;
}

h1, h2 {
    color: #8c2f39; /* 진한 다홍색 */
}

h2 {
    border-bottom: 3px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #d94e5d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #aa2c34;
}

.kei{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 88%;
    height: 480px;
    border: 10px solid rgba(156, 71, 32, 1);
}
.mon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    font-size: 64px;
    text-align: center;
    color: black;
}
.noto-serif-jp-asdf {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.titi{
    width: 35px;
    height: 25px;
}

.ekja{
    border: 10px solid brown;
}